.app.primary {
    --bg-color: #d8d5ea;
    --inverted-bg-color: #292e43;
    --primary-color: #fafafa;
    --secondary-color: #a0a1dc;
    --inverted-primary-color: #060608;
    --inverted-secondary-color: #a0a1dc;
}
